<div class="container">

<h1 class="text-light"><%= @recipe.name %></h1>

<ul>
  <%= form_for :recipe do |f| %>
    <li class="text-light">
    <%= collection_check_boxes(:ingredient, :name, @ingredients, :id, :name) do |b| %>
    <%= b.check_box%>
    <%= b.label%><br>
    <%end%>
    </li>
  <%= f.submit class: "btn btn-success"%>
  <%end%>
</ul>

</div>
