<p id="notice"><%= notice %></p>

<p class="text-light">
  <strong>Name:</strong>
  <%= @recipe.name %>
</p>
<strong class="text-light">Ingredients:</strong>
<ul>
  <% RecipeIngredient.ingredient_names(params[:id].to_i).each do |ingredient| %>
    <li><%= link_to "#{ingredient}", ingredient_path(Ingredient.find_by(name: ingredient))%></li>
  <%end%>
</ul>

<p class="text-light">
  <strong>Directions:</strong>
  <%= @recipe.directions %>
</p>



<%= link_to 'Edit', edit_recipe_path(@recipe) %>
<%= link_to 'Back', recipes_path %>
<br>
<img src="<%= @recipe.html_link %>" alt="Recipe Image">
