<div class="container align-items-center">

<p id="notice"><%= notice %></p>
<h1 class="text-light">
  <%= @recipe.name %>
</h1>
<strong class="text-light">Ingredients:</strong>
<ul>
  <% RecipeIngredient.ingredient_names(params[:id].to_i).each do |ingredient| %>
    <li class= "text-light"><%= link_to "#{ingredient}", ingredient_path(Ingredient.find_by(name: ingredient)), class: "text-light"%></li>
  <%end%>
</ul>

<p class="text-light">
  <strong>Directions:</strong>
  <%= @recipe.directions %>
</p>

<img src="<%= @recipe.html_link %>" alt="Recipe Image"><br>
<%= link_to 'Edit', edit_recipe_path(@recipe), class: "text-light" %> |
<%= link_to 'Back', recipes_path, class: "text-light" %>
</div>
