<p id="notice"><%= notice %></p>

<h1>Ingredients</h1>
<div class="row justify-content-md-center">



<% @ingredients.each do |ingredient| %>
<tr>
  <div class="card col-md-3 mt-2 border border-dark rounded" style="width: 16rem;">
  <img class="card-img-top border border-dark rounded" src=<%= ingredient.html_link %> alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title"><%= ingredient.name %></h5>
      <p class="card-text"><%= ingredient.description %></p>

    </div>
    <div class="btn-group" id="recipe_card_button" data-toggle="buttons">
    <%= link_to 'Show More', ingredient , class:"btn btn-primary btn-sm"%>
    </div>
  </div>
</tr>
<% end %>
</div>



<br>

<%= link_to 'New Ingredient', new_ingredient_path %>
