<div class="container">

<p id="notice"><%= notice %></p>

<p class="text-light">
  <h1><%= @user.name %></h1>

<br>
<img src="https://timedotcom.files.wordpress.com/2019/01/gettyimages-914246230.jpg?quality=85" alt="EGGGGGGG" height="400" width="400" id="profile_pic" class="rounded-circle border border-dark">
<br>

<%= form_for @user, url: add_user_recipe_path do |f| %>
  <%= collection_select(:recipe, :name, Recipe.all, :id, :name) %>
  <%= f.submit "Add Recipe", class: "btn btn-success" %>
<% end %>

<ul class="text-light" id="user_recipe_list">
  <% UserRecipe.recipe_names(params[:id].to_i).each do |recipe| %>
    <li><%= link_to "#{recipe}", recipe_path(Recipe.find_by(name: recipe)), class:"text-light"%>
       <small><%= link_to "Remove", remove_user_recipe_path("#{recipe}+#{@user.id}"),class:"text-light", method: :delete %></small></li>
  <%end%>
</ul>



<%= link_to 'Edit', edit_user_path(@user),class:"text-light" %>
<%= link_to 'Back', users_path, class:"text-light" %>
</div>
