<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @user.name %>
  <ul>
    <% UserRecipe.recipe_names(params[:id].to_i).each do |recipe| %>
      <li><%= link_to "#{recipe}", recipe_path(Recipe.find_by(name: recipe))%></li>
    <%end%>
  </ul>
</p>

<%= form_for @user, url: add_user_recipe_path do |f| %>
  <%= collection_select(:recipe, :name, Recipe.all, :id, :name) %>
  <%= f.submit "Add Recipe" %>
<% end %>

<%= link_to 'Edit', edit_user_path(@user) %>
<%= link_to 'Back', users_path %>
