<!DOCTYPE html>
<html>
  <head>
    <title>RecipeMangerProject</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>
   <footer>
     <%= link_to "Recipes", recipes_path %>
     <%= link_to "Ingredients", ingredients_path %>
     <%= link_to "Users", users_path %>
     <%= link_to "Analytics", analytics_path %>
   </footer>
  </body>
</html>
